
body, html {
    height: 100%;
    margin: 0;
  }

body {
    background-image: url('marpic.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    
}


header {
    text-align: center;
    margin: 70px;

}


.articles {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin:50px;
    margin-left: 350px;
    margin-right: 350px;
    line-height: 30px;
    text-align: justify;
    align-items: center;
}
.article-title {
     color:darkgreen;
         }

article:first-child {
margin-bottom: 200px;

}
article:last-child{
margin-top: 100px;

}

footer {
    text-align: center;
    margin-top: 100px;
}